@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
body {
    background: linear-gradient(#141E3E, #2D385E);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family: "DM Sans", sans-serif;
}

.centered-div {
    height: 90vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s cubic-bezier(0.02, 0.01, 0.21, 1) allow-discrete;
    text-align: center;
}

.logo {
    height: 32px;
    animation: fadeLogo 0.7s cubic-bezier(0.02, 0.01, 0.21, 1) forwards, logoscale 1s 0.4s cubic-bezier(0.02, 0.01, 0.21, 1) forwards;
    transform: translate3d(0, 100%, 0);
}

h1.tagline {
    font-size: 48px;
    animation: fadeIn 0.7s 0.5s cubic-bezier(0.02, 0.01, 0.21, 1) forwards;
    opacity: 0;
    filter: blur(24px);
}
.noidea {
    display: flex;
    flex-direction: column;
    gap: 12px;
    line-height: 0;
    transform: translate3d(0, 100%, 0);
    animation: movin 1s 0.4s cubic-bezier(0.02, 0.01, 0.21, 1) forwards;;
}

.note {
    font-size: 18px;
    color: #ffffffa4;
    opacity: 0;
    animation: fadeIn 0.7s 1s cubic-bezier(0.02, 0.01, 0.21, 1) forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        filter: blur(24px);
        display: none;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        filter: blur(0px);
        display: inital;
    }
}

@keyframes movin {
    from {
        transform: translate3d(0, 100%, 0);
    }
    to{
        transform: translate3d(0, 0, 0);
    }
}

@keyframes logoscale {
    from {
        transform: scale(1);
    }
    to{
        transform: scale(0.8);
    }
}

@keyframes fadeLogo {
    from {
        filter: blur(4px);
        transform: scale(1.5);
    }
    to {
        opacity: 1;
        filter: blur(0px);
        transform: scale(1);
    }
}